.main {
    justify-content: center;
    padding-top: 70px;
}

.mainForm {
    width: 90%;
    display: flex;
    flex-direction: column;
    max-width: 420px;
}

.mainForm * {
    color: var(--color-1);
}

.mainForm h1,
.mainForm a {
    text-align: center;
}

.mainForm h1 {
    font-size: 22px;
}

.mainForm p {
    padding-top: 15px;
    color: var(--color-1);
}

.singleInput {
    border: 2px solid var(--color-6);
    padding: 15px 40px 15px 40px;
    width: 100%;
    transition: 0.3s;
}

.singleInput:focus {
    border-color: #8B4F3C;
}

.inputControl {
    margin-top: 30px;
    position: relative;
}


.inputControl svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transition: 0.3s;
    transform: translateY(-50%);
    fill: #757575 !important;
}

.mainForm a {
    text-decoration: underline;
    padding-top: 10px;
}

.inputContainer{
    text-align: center;
}

.submitInput{
    background: var(--color-1);
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    height: 60px;
    border: 0px;
}

.sentSuccessfully{
    padding-top: 20px;
    text-align: center;
    color: var(--green);
}