.mainWrapper {
    background-image: url('/job-background.png');
    background-position: center center;
    background-size: cover;
    background-blend-mode: multiply;
    position: relative;
    min-height: unset;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 90px;
}

.backgroundGrad {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    z-index: 1;
    background: linear-gradient(63.18deg, #49250A 0%, rgba(151, 75, 5, 0.65) 100%);
}

.searchPlace {
    width: 90vw;
    max-width: 650px;
    z-index: 2;
}

.desc {
    width: 100%;
    margin: 50px auto 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
}

.searchContainer {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.noVacancy {
    padding: 50px 0px;
    color: rgb(236, 66, 66);
}

.pas {
    width: 100%;
    text-align: left;
    color: white;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
}

.filterHolder{
    width: 100%;
    position: relative;
}

.filter select{
    cursor: pointer;
}

.filter{
    width: 100%;
    min-width: 600px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    gap: 20px;
    border: 2px solid var(--color-6);
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.filter label{
    font-size: 13px;
}

.filter input[type=number]::-webkit-outer-spin-button,
.filter input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.filter input[type=number] {
    -moz-appearance: textfield;
}

.react-datepicker__navigation{
    display: none !important;
}

.datePickerHolder{
    position: relative;
}

.datePickerImg{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 45px;
    pointer-events: none;
}

.datePickerHolder input{
    cursor: pointer;
    caret-color: transparent;
}

.cityListHolder{
    position: relative;
}

.filterRow{
    width: 100%;
    display: flex;
    gap: 20px;
}

.cityList{
    width: 100%;
    min-width: 200px;
    right: 0;
    height: 200px;
    background-color: white;
    position: absolute;
    top: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
}

.showCityList{
    opacity: 1;
    pointer-events: unset;
    z-index: 1000;
}

.cityList div{
    cursor: pointer;
    transition: 0.3s;
    padding: 20px 10px;
    border-bottom: 1px solid var(--color-6);
}

.cityList div:hover{
    background-color: rgba(0,0,0,0.03);
}

.filterInputParent{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50%;
}

.filterInputParent input, .filterInputParent select, .filterInputParent textarea{
    border: 2px solid var(--color-6) !important;
    width: 100%;
    padding: 15px 15px;
    resize: none;background-color: white;
}

.disabledInput{
    pointer-events: none;
    background-color: var(--color-6) !important;
}

.disabledLabel{
    background-color: var(--color-4) !important;
    pointer-events: none !important;
}

.expandedFilter{
    pointer-events: unset;
    opacity: 1;
}

.searchContainer input {
    width: 100%;
    border: 1px solid rgb(189, 189, 189);
    transition: 0.3s;
    font-size: 15px;
    padding: 15px;
}

.searchContainer > div > input {
    padding: 15px 15px 15px 40px;
}

.searchContainer input:focus {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.searchContainer > button {
    cursor: pointer;
    padding: 10px;
    background-color: var(--color-1);
    color: white;
    border: 0px;
    width: 142px;
    height: 53px;
    font-size: 15px;
}

.searchButton {
    position: absolute;
    left: 15px;
    top: 50%;
    color: var(--color-1);
    transform: translateY(-50%);

}

.mainpageList {
    width: 90vw;
    max-width: 1600px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(330px, 1fr));
    gap: 10px;
}

.mainpageList .jobHolder {
    position: relative;
    margin: 15px 0px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    color: black;
    padding: 20px 15px;
    cursor: pointer;
    text-transform: capitalize;
    flex-direction: column;
    min-height: 185px;
}

.jobTop {
    display: flex;
}

.jobTop .job-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.name{
    font-weight: bold;
    padding-bottom: 10px;
}

.company{
    padding-bottom: 20px;
}

.jobDesc {
    width: calc(100% - 80px);
    margin-left: 10px;
}

.jobDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.jobDetails>div:nth-child(odd) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: calc(50% - 20px);
}

.jobDetails>div img{
    padding-right: 5px;
}

.jobCountry img{
    width: 32px;
    height: 20px;
    object-fit: cover;
}

.jobDate {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.jobDate .expiration {
    color: white;
    background: var(--red);
    padding: 5px 7px;
    border-radius: 5px;
    font-size: 13px;
}

.jobDate .expiration span {
    font-weight: bold;
}

.mainpageList p:nth-child(2) {
    margin-right: auto;
    margin-left: 5px;
}

.bannerLogo {
    width: 90%;
    max-width: 300px;
    margin: 30px auto;
    display: block;
    position: relative;
}

.filterButton {
    width: 70px;
    height: 53px;
    background-position: center center;
    background-size: contain;
    background-color: var(--color-3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.generalInformation {
    display: flex;
    margin-top: 40px;
    margin-bottom: 50px;
    flex-direction: column;
    background: url('/homepage-underbanner-1.png') center center no-repeat;
    background-size: cover;
}

.counts {
    background: rgba(71, 46, 35, 0.85) url('/homepage-underbanner.png') center center no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.count {
    color: white;
    margin: 20px 40px;
}

.count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.count .number {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 30px;
    flex-wrap: wrap;
}

.explanation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    background-color: rgba(255, 255, 255, 0.8);
}

.explanation h1 {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0px;
}

.explanationCards {
    display: flex;
    width: 90%;
    max-width: 1220px;
    margin: 20px 0px;
    gap: 30px;
    justify-content: center;
}

.explanationCard {
    width: 270px;
    display: flex;
    background-color: white;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 10px;
}

.explanation h1.explanationHeading {
    font-size: 24px;
    text-align: center;
    color: var(--color-1);
    min-height: 70px;
    padding: 0px;
}

.registerNow {
    background: rgba(71, 46, 35, 0.85);
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    color: white;
    align-items: center;
    padding: 20px 0px;
}

.registerNow .txt {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button {
    background-color: var(--color-7);
    color: var(--color-1);
    transition: 0.3s;
    cursor: pointer;
    padding: 10px 20px;
    font-weight: bold;
}

.regions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.region {
    margin: 50px 0px;
}

.region h1 {
    font-size: 18px;
}

.addToFavourites {
    background: url('/fav.png') center center no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
}

.jobListHeading{
    font-size: 24px;
    margin: 20px auto;
    text-align: center;
}

.searchPlace p{
    text-align: center;
    color: white;
    margin: 15px auto;
    max-width: 380px;
}

.mobileSearchButton{
    display: none;
}

.loadMore{
    max-width: 180px;
    padding: 20px 0px;
    background: var(--color-1);
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

@media (max-width: 992px) {
    .filter{
        min-width: 270px;
    }

    .filterRow{
        flex-direction: column;
    }

    .filter .filterInputParent{
        width: 100%;
        flex-wrap: wrap;
    }

    .searchContainer input{
        padding-left: 15px;
    }
    
    .searchPlace > button{
        width: 70px;
        height: 53px;
        background-color: var(--color-1);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .searchPlace > button span{
        display: none;
    }

    .searchButton{
        display: none;
    }

    .mobileSearchButton{
        display: block;
    }

    .counts,
    .explanation-cards {
        flex-direction: column;
        align-items: center;
    }

    .explanation-card {
        width: 90%;
        max-width: 500px;
    }

}

@media (max-width: 576px){
    .mainpageList {
        grid-template-columns: repeat(auto-fit,minmax(280px, 1fr));
    }
}

.clearButton{
    margin-left: auto;
    margin-right: 2px;
    display: block;
    color: var(--color-4);
    cursor: pointer;
}