.mainWrapper{
    display: flex;
    padding-top: 52px;
    padding-bottom: 0px;
}

.banner{
    background-position: center center;
    background-size: cover;
    background-blend-mode: multiply;
    position: relative;
    height: 70vh;
    padding-bottom: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    background-color: var(--color-1-05);
}

.banner h1{
    font-size: 50px;
    font-weight: bold;
    color: white;
    word-break: break-word;
    text-transform: uppercase;
}

.banner .date{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

.content{
    width: 90%;
    max-width: 1600px;
    margin-top: 20px;
    line-height: 19px;
}

.firstBlock{
    margin-top: 40px;
}

.secondBlock img{
    float: left;
    padding: 0px 25px 20px 0px;
}

.secondBlock{
    padding-top: 40px;
}