.main {
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainHeader {
    text-align: center;
    color: var(--color-1);
    font-size: 24px;
    font-weight: bold;
}

.intro {
    font-size: 14px;
    margin-top: 20px;
    font-weight: normal;
}

.faqForm {
    margin-top: 30px;
    position: relative;
}

.faqForm input {
    border: 2px solid var(--color-6);
    padding: 15px 45px 15px 60px;
    transition: 0.3s;
}

.faqForm input:focus {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.faqForm:has(.input-error) .fa-magnifying-glass {
    color: var(--red);
}

.faqForm i {
    position: absolute;
    top: 50%;
    color: var(--color-4);
    transform: translateY(-50%);
}

.glass {
    left: 20px;
}

.arrowRight{
    right: 15px;
    cursor: pointer;
}


.header {
    font-size: 16px;
    color: var(--color-1);
    padding: 10px 0px;
}

.tipsContainer{
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;
}

.tipsParent{
    margin-top: 30px;
}

.tipsRow{
    margin-top: 15px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit,minmax(280px, 0.5fr));
    place-content: start;
}

.tip{
   border: 2px solid #EBEBEB;
   color: black;
}

.tip img{
    width: 100%;
    object-fit: cover;
}

.tipContent{
    background-color: white;
    padding-left: 15px;
}

.tipContent h1{
    font-size: 18px;
}

.tipContent p{
    font-size: 14px;
}

.content {
    font-size: 14px;
    padding: 10px 0px;
    height: 100px;
}

.content span p{
    display: inline;
    color: var(--color-4);
}

.noResults{
    margin-top: 30px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    padding: 40px 20px;
}

.noResults h3{
    font-size: 24px;
    max-width: 300px;
    word-break: break-all;
}

.searchTips{
    background: var(--color-10);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    padding: 40px 20px;
}

.searchTips h3, .sendRequest h3{
    font-size: 24px;
}

.searchTips ul li{
    margin-top: 10px;
    font-weight: bold;
}

.recentTips{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}

.singleTipsContainer{
    width: 100%;
    margin-top: 50px;
    padding: 20px 2.5% 60px 2.5%;
    background-color: var(--color-7);
}

.singleTipsContainer h1{
    text-align: left;
}

@media(max-width: 768px){
    .tipsRow{
        grid-template-columns: repeat(auto-fit,minmax(280px, 1fr));
    }
}