.main {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 15px;
    position: relative;
}

.plansGoBack{
    position: absolute;
    bottom: -80px;
    left: 15px;
    width: unset !important;
}

.card {
    text-align: center;
    background-color: #fff;
    padding: 30px 0 40px 0;
    border: 2px solid #EBEBEB;
}

.cardPopular {
    position:relative;
    text-align: center;
    background-color: #fff;
    padding: 30px 0 45px 0;
    border: 2px solid #472E23;
    text-align: center;
    box-shadow: 0px 4px 22px 6px rgba(0, 0, 0, 0.05);
}

.cardPopular::before{
    box-sizing: border-box;
    color: #fff;
    text-transform: uppercase;
    padding-top: 5px;
    font-size: 14px;
    content: "most popular";
    position: absolute;
    width: calc(100% + 4px);
    left: -2px;
    background-color: #472E23;
    height: 30px;
    border-radius: 25px 25px 0 0;
    border: 2px solid #472E23;
    margin-top: -60px;
}

.heading {
    font-size: 24px;
    padding-bottom: 13px;
}

.price {
    color: #00A944;
    font-size: 18px;
    font-weight: bold;
    
}

.price span {
    color: #757575;
}

.hr {
    width: 45%;
    margin: 25px auto;
}

.list {
    padding-bottom: 20px;
}

.listItem {
    list-style-type: none;
    font-size: 18px;
    padding: 10px 0;
}

.listItem i {
    padding-right: 20px;
    color:#00A944;
    font-size: 20px;
}

.listItemNotIncluded {
    list-style-type: none;
    font-size: 18px;
    padding: 10px 0;
}

.listItemNotIncluded i {
    padding-right: 20px;
    color:#757575;
    font-size: 20px;
}

.button {
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 30px;
    border: 2px solid #EBEBEB;
    background-color: #fff;
    cursor: pointer;
}

.cardPopular .button {
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 30px;
    cursor: pointer;
    background-color: #472E23;
    border: 2px solid #472E23;
    color: #fff;
}

@media(max-width: 768px){
    .cardPopular {
        margin-top: 30px;
    }
}