.mainWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 80px;
    width: 100%;
    position: relative;
    padding-bottom: 40px;
}

.nextButton {
    text-transform: uppercase;
    padding: 15px;
    background-color: var(--color-1);
    color: white;
    cursor: pointer;
    margin-top: 30px;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -65px;
    right: 0;
}

.nextButton i {
    padding-left: 10px;
}

.formHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 400px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    position: relative;
}

.form > div {
    display: flex;
    flex-direction: column;
}

.singleInput {
    border: 2px solid var(--color-6);
    padding: 15px 40px 15px 40px;
    width: 100%;
    transition: 0.3s;
}

.singleInput:focus {
    border-color: #8b4f3c;
}

.inputControl {
    margin-top: 10px;
    position: relative;
}

#hideUnhide {
    left: unset;
    right: 10px;
    cursor: pointer;
}

.inputControl svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transition: 0.3s;
    transform: translateY(-50%);
    fill: var(-color-4) !important;
}

.submitInput {
    background: var(--color-1);
    font-size: 16px;
    color: white;
    cursor: pointer;
    border: 2px solid var(--color-6);
    padding: 15px 40px 15px 40px;
    width: 100%;
    transition: 0.3s;
}

.alreadyRegParent {
    text-align: center;
    color: var(--color-1);
    font-weight: bold;
}

.alreadyReg {
    color: var(--color-1);
    text-decoration: underline;
    display: inline;
}

.wizardMain {
    display: flex;
    width: 70%;
    max-width: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 130px;
}

.wizardMain h1 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.wizardMain p {
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.wizard {
    background: var(--color-6);
    width: 100%;
    height: 3px;
    margin-top: 40px;
    position: relative;
}

.wizard > div {
    position: absolute;
    transform: translateX(-50%);
    z-index: 2;
    top: -6px;
}

.recruiterWizardStepOne::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 5px;
    top: -1px;
    background-color: var(--color-5);
}

.recruiterWizardStepTwo::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    top: -1px;
    background-color: var(--color-5);
}

.wizard > div > div {
    width: 14px;
    height: 14px;
    background-color: var(--color-4);
    border-radius: 50%;
}

.wizard > div i {
    display: none;
    color: white;
}

.wizard > div:nth-child(2) {
    left: 50%;
}

.wizard > div:nth-child(3) {
    left: 100%;
}

.wizard > div:before {
    content: attr(txt);
    font-weight: bold;
    position: absolute;
    width: 130px;
    text-align: center;
    left: 50%;
    top: 30px;
    font-size: 16px;
    transform: translateX(-50%);
}

@media (min-width: 576px) {
    .wizard > div.currentStep:before {
        top: 35px;
        font-size: 17px;
    }
}

.wizard > div.currentStep > div,
.wizard > div.completedStep > div {
    position: relative;
    width: 18px;
    height: 18px;
    background-color: var(--color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.wizard > div.completedStep i {
    display: inherit;
}

.wizard > div.currentStep {
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 3px solid var(--color-5);
    top: -12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wizard > div.completeStep > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seeker > div:nth-child(2) {
    left: 25% !important;
}

.seeker > div:nth-child(3) {
    left: 50% !important;
}

.seeker > div:nth-child(4) {
    left: 75% !important;
}

.seeker > div:nth-child(5) {
    left: 100% !important;
}

.inboxCheck {
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.heading {
    display: flex;
    gap: 15px;
    color: var(--color-1);
}

.heading h1 {
    font-size: 24px;
}

.bottom span {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.resendEmail {
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 20px;
    width: 100%;
    margin: 80px 0px;
    background: var(--color-7);
}

.sendAgain {
    border: 1px solid var(--color-1);
    padding: 15px 20px;
    color: var(--color-1);
    cursor: pointer;
    font-weight: 700;
    transition: 0.3s;
}

.consideration {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 90%;
    max-width: 1600px;
}

.consideration p {
    max-width: 710px;
}

.consideration span {
    font-weight: bold;
}

.form {
    margin: 0px auto;
    width: 90%;
    max-width: 850px;
    text-align: center;
}

.form h4 span,
.intro span {
    display: inline;
    color: red;
}

.form .intro {
    padding-bottom: 20px;
    font-weight: bold;
}

.form .intro p {
    margin-top: 5px;
}

.section {
    width: 100%;
    background-color: white;
    padding: 30px 20px;
    margin-top: 10px;
    border: 2px solid var(--color-6);
}

.section h5 {
    padding-top: 10px;
}

.section input,
.section select,
.section textarea {
    border: 2px solid var(--color-6);
    width: 100%;
    margin-top: 20px;
    padding: 15px 15px;
    resize: none;
}

.textareaParent {
    border: 2px solid var(--color-6);
    padding-bottom: 30px;
    margin-top: 20px;
    position: relative;
}

.textareaParent textarea {
    border: 0px;
    margin-top: 0px;
    height: 250px;
}

.wordCount {
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 13px;
    color: var(--color-4);
}

.section select {
    cursor: pointer;
}

.locationSelect select,
.locationSelect .cityListHolder {
    width: unset;
    flex: 1;
}

.cityListHolder {
    position: relative;
}

.cityList {
    width: 100%;
    min-width: 200px;
    right: 0;
    height: 200px;
    background-color: white;
    position: absolute;
    top: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
}

.cityInputPadding {
    padding-right: 40px;
}

.showCityList {
    opacity: 1;
    pointer-events: unset;
}

.cityList div {
    cursor: pointer;
    transition: 0.3s;
    padding: 20px 0px;
    font-size: 13px;
    border-bottom: 1px solid var(--color-6);
}

.cityList div:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.locationSelect > div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.inputParentFull {
    width: 100%;
}

.inputParentFull input {
    margin-top: 0px;
}

.socialInputs input {
    padding-left: 40px;
}

.socialInputs .inputParent {
    display: flex;
    margin-top: 30px;
    gap: 20px;
    flex-wrap: wrap;
}

.socialInputs .inputParent > div {
    position: relative;
    width: calc(50% - 20px);
}

.socialInputs .inputParent > div input {
    margin-top: 0px;
}

.socialInputs i {
    color: var(--color-4);
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.disabledInput {
    pointer-events: none;
    background-color: var(--color-6);
}

.section.hasImageUpload .logoUpload {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.section.hasImageUpload label,
.galleryParentHolder label {
    text-transform: uppercase;
    padding: 15px;
    background-color: var(--color-1);
    color: white;
    cursor: pointer;
}

.section.hasImageUpload .imageInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    gap: 30px;
}

.section.hasImageUpload .imageInfo p {
    width: 140px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section.hasImageUpload .imageInfo input,
.galleryParentHolder input {
    display: none;
}

.galleryParentHolder label {
    margin-top: 40px;
    display: inline-block;
}

.disabledLabel {
    background-color: var(--color-4) !important;
    pointer-events: none !important;
}

.section.hasImageUpload img {
    width: 131px;
    height: 131px;
    object-fit: contain;
}

.section input[type='number']::-webkit-outer-spin-button,
.section input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.section input[type='number'] {
    -moz-appearance: textfield;
}

.deleteImage {
    background: url('/delete-cross.png') center center no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.galleryParent {
    margin-top: 50px;
    gap: 30px;
    flex-wrap: wrap;
    display: flex;
}

.gallery {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 200px;
    gap: 5px;
    width: 16%;
    flex-direction: column;
}

.gallery.hide {
    display: none;
    justify-content: baseline;
}

.gallery img {
    width: 100%;
    height: 110px;
    object-fit: contain;
}

.gallery .deleteImage {
    right: 0;
    bottom: 5px;
}

.gallery .imageName {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hideSection {
    display: none !important;
}

.verificationMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.postGoBack {
    position: absolute !important;
    left: 20px;
    width: unset !important;
    bottom: -80px;
}

.goBack {
    width: 100%;
    text-transform: uppercase;
    color: var(--color-1);
    padding: 40px 0px;
    position: relative;
}

.goBack i {
    position: absolute;
    transform: translate(-120%, -55%);
    top: 50%;
}

.goBack span {
    cursor: pointer;
    position: absolute;
    left: 30%;
    top: 30px;
}

.multipleChild {
    display: flex;
    gap: 15px;
}

.multipleChild > div,
.multipleChild > select {
    width: 100%;
    min-width: 200px;
}

.multipleChild > input,
.selectF {
    min-width: 350px !important;
}

@media (max-width: 992px) {
    .multipleChild > input,
    .selectF {
        min-width: unset !important;
    }

    .multipleChild {
        flex-wrap: wrap;
    }

    .gallery {
        width: 100%;
        max-width: 500px;
        margin: 20px auto;
    }

    .wizard > div.currentStep:before {
        width: 90px;
    }

    .inboxCheck {
        flex-direction: column;
    }

    .bottom h1 {
        font-size: 24px;
        padding-bottom: 10px;
    }
}

.showCase {
    display: flex;
    margin: 30px auto;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.showCase h1 {
    padding-bottom: 15px;
}

.showCase > img {
    width: 132px;
    height: 132px;
    object-fit: contain;
    border: 2px solid var(--color-6);
}

.showCaseInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.showCaseInfo * {
    text-align: left;
}

.showCaseLocation {
    display: flex;
    margin-top: 10px;
    gap: 5px;
    flex-wrap: wrap;
}

.showCaseLocation p {
    display: flex;
    gap: 5px;
}

.datePickerHolder {
    position: relative;
}

.datePickerImg {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    bottom: 18px;
    pointer-events: none;
}

.datePickerHolder input {
    cursor: pointer;
    caret-color: transparent;
}

.loadSpinner {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 50%;
}

.inputParent option::first {
    text-transform: capitalize;
}

.industryName:first {
    text-transform: capitalize;
}

.textStyling {
    color: #000;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.redSpan {
    color: #d52b1e;
}

@media (max-width: 768px) {
    .wizard > div:before {
        display: none;
    }

    .wizard > div.currentStep:before {
        display: block;
    }

    .locationSelect select,
    .locationSelect .cityListHolder {
        width: 100%;
        flex: unset;
    }

    .cityInputPadding {
        margin-top: 0px !important;
    }
}

@media (max-width: 576px) {
    .last .inboxCheck {
        flex-wrap: wrap;
        text-align: center;
    }
    .bottom {
        text-align: center;
    }
    .socialInputs .inputParent > div {
        width: 100%;
    }
}

.positionsInput {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 200px;
    background-color: inherit;
    z-index: 200;
    background-color: white;
    border: 2px solid #ebebeb;
    overflow: scroll;
}
.position {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.position:hover {
    background-color: #fff8f4;
}
.dateInput:-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.checkbox-wrapper-18 .round {
    position: relative;
}

.checkbox-wrapper-18 .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    width: 28px;
    display: inline-block;
}

.checkbox-wrapper-18 .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: '';
    height: 6px;
    left: 8px;
    opacity: 0;
    position: absolute;
    top: 9px;
    transform: rotate(-45deg);
    width: 12px;
}

.checkbox-wrapper-18 .round input[type='checkbox'] {
    visibility: hidden;
    display: none;
    opacity: 0;
}

.checkbox-wrapper-18 .round input[type='checkbox']:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
}

.checkbox-wrapper-18 .round input[type='checkbox']:checked + label:after {
    opacity: 1;
}
